*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f4fff4;
    color:#333;
}

header{
    background:linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:120px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:10px;
}

header p{
    font-size:1.2rem;
    margin-bottom:20px;
}

.botao{
    display:inline-block;
    background:#4CAF50;
    color:white;
    text-decoration:none;
    padding:12px 24px;
    border-radius:30px;
    transition:0.3s;
}

.botao:hover{
    background:#2e7d32;
}

section{
    max-width:1000px;
    margin:auto;
    padding:50px 20px;
}

section h2{
    text-align:center;
    margin-bottom:20px;
    color:#2e7d32;
}

section p{
    text-align:center;
    line-height:1.8;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#388e3c;
    margin-bottom:10px;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
